.filter-box__list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
}
.filter-box__item {
  margin-right: 8px;
  margin-bottom: 15px;
}
.filter-box__button {
  border-color: transparent;
  background-color: $bg-button-filter;
  border-radius: 3px;
  padding: 4px 22px;
  min-width: 73px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $button-color;
    background: $bg-button-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

@media screen and (min-width: 768px) {
  .filter-box__list {
    justify-content: center;
  }
  .filter-box__item {
    margin-bottom: 0px;

    &:last-child {
      margin-right: 0px;
    }
  }
}
