.section-feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-feature__list {
  // display: flex;

  // & :nth-child(4n) {
  //   margin-right: 0px;
  // }
}
.section-feature__item:not(:last-child) {
  // flex-basis: calc((100%-90px) / 4);
  margin-bottom: 30px;
}
.section-feature__box {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;

  border-radius: 4px;
  background-color: $bg-button-filter;
}
.section-feature__icon {
  width: 70px;
  height: 70px;
}
.section-feature__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.section-feature__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .section-feature__list {
    display: flex;
    flex-wrap: wrap;

    margin-left: -15px;
    margin-right: -15px;
  }
  .section-feature__item {
    width: 354px;
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 15px;
    margin-right: 15px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .section-feature {
    padding-top: 94px;
    padding-bottom: 47px;
  }

  .section-feature__item {
    width: 270px;
    flex-basis: calc((100% - 120px) / 4);
  }
}
