$bg-main-page-color: #ffffff;
$desc-text-color: #757575;
$bg-button-color: #2196f3;
$button-color: #ffffff;
$nav-color: #212121;
$bg-button-filter: #f5f4fa;
$project-title-color: #212121;
$bg-btn-hover: #188ce8;
$name-color: #000000;
$bg-footer: #2f303a;
$color-contact-footer: #ffffff;
$bg-section-team: #f5f4fa;
$bg-social-footer: rgba(255, 255, 255, 0.1);
$bg-work-content: rgba(47, 48, 58, 0.8);
$bg-backdrop: rgba(0, 0, 0, 0.2);
$bg-poject-hover: rgba(33, 150, 243, 0.9);
$comment-color: rgba(117, 117, 117, 0.5);
$mailing-text-pl: rgba(255, 255, 255, 0.6);
